<!DOCTYPE html>
<html>
<head>
    <title>File Uploaded</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/file_uploaded.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/horizontal_bar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/rename_form.css' %}">
    <script>
        function openEditWindow(fileName) {
            window.open('/edit/' + fileName, 'Edit File', 'width=1200,height=500');
        }
        function openRenameWindow(fileName) {
            window.open('/rename_file/' + fileName, 'Rename File', 'width=800,height=400');
        }
    </script>
</head>
<body>
    <nav>
        <ul class="navbar">
            <li><a href="{% url 'server_control' %}">Server Control</a></li>
            <li><a href="{% url 'server_settings' %}">Server Config Setting</a></li>
            <li><a href="{% url 'backup_page' %}">Server Backup</a></li>
            <li><a href="">Server Monitor</a></li>
            <li><a href="{% url 'file_uploaded' %}">File Access</a></li>
            <li class="logout"><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
    <div class="container">

        <h1>File Uploaded Successfully</h1>
        <div class="file-list">
            <h2>Uploaded Files:</h2>
            <ul>
                {% for file, file_rename, status in files %}
                    <li>
                        {% if status == "a" %}
                        <input type="hidden" value="{{ status }}">
                        <span class="file-name">{{ file }}</span>
                        <form action="{% url 'edit_file_view' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="file" value="{{ file }}">
                            <button type="submit" class="btn edit-btn">Edit</button>
                        </form>
                        <form action="{% url 'delete_file' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="file" value="{{ file }}">
                            <button type="submit" class="btn delete-btn">Delete</button>
                        </form>
                        <form action="{% url 'download_file' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="file" value="{{ file }}">
                            <button type="submit" class="btn download-btn">Download</button>
                        </form>
                        <form action="{% url 'file_uploaded_rename' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="file" value="{{ file }}">
                            <input type="hidden" name="original_file_name" value="{{ file_rename }}">
                            <button type="submit" class="btn rename-btn">Rename</button>
                        </form>
                        {% else %}
                        <input type="hidden" value="{{ status }}">
                        <form action="{% url 'send_rename' %}" method="post" class="rename-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="new_file_name_{{ forloop.counter }}">New File Name:</label>
                                <input id="new_file_name_{{ forloop.counter }}" class="file-name-input" type="text" name="new_file_name" value="{{ file }}">
                            </div>
                            <input type="hidden" name="original_file_name" value="{{ file_rename }}">
                            <div class="button-group">
                                <button type="submit" class="btn rename-btn">Save Rename</button>
                            </div>
                        </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>