<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/upload_page.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/horizontal_bar.css' %}">
<body>
<div class="container">
    <script>
        function updateFileName() {
            var fileInput = document.getElementById('file-upload');
            var fileName = fileInput.files[0].name;
            var fileNameDisplay = document.getElementById('file-name-display');
            fileNameDisplay.textContent = fileName;
        }
    </script>
    <div class="upload-container">
       <div class="welcome-message">
        Welcome, {{ username }}!
    </div>
    {% if server %}
    <form action="{% url 'file_explorer' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="servername">Servername: {{ server }}</label>
        </div>
        <button type="submit">Get-in</button>
    </form>
    {% else %}
    <h2>Upload File</h2>
    {% with args_list=file|default_if_none:""|add:"/"|add:file_rename %}
    <form action="{% url 'file_uploaded_with_parameter' args_list %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="servername">Servername</label>
            <input type="text" id="servername" name="servername" required>
            <label for="file-upload" class="custom-file-upload">
                Choose File
            </label>
            <input type="file" id="file-upload" name="file" required onchange="updateFileName()">
            <span id="file-name-display" class="file-name-display">No file chosen</span>
        </div>
        <button type="submit">Submit</button>
    </form>
    {% endwith %}
    {% endif %}
</div>
</div>
</body>
</html>