<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/upload_page.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/horizontal_bar.css' %}">
<body>
    <nav>
        <ul class="navbar">
            <li><a href="{% url 'server_control' %}">Server Control</a></li>
            <li><a href="">Server Config Setting</a></li>
            <li><a href="">Server Backup</a></li>
            <li><a href="">Server Monitor</a></li>
            <li><a href="">File Access</a></li>
            <li class="logout"><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
    <div class="upload-container">
        <h2>Upload File</h2>
        <form action="{% url 'upload_file' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="servername">servername</label>
                <input type="text" id="servername" name="servername" required>
                <label for="file-upload" class="custom-file-upload">
                    Choose File
                </label>
                <input type="file" id="file-upload" name="file" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    {{ username }}
</body>
</html>