<!DOCTYPE html>
<html>
<head>
    <title>Edit File</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/container.css' %}">
</head>
<script>
    setInterval(function() {
    $('#open').load('#open')},2000)
    </script>
<body>
     <form action="{% url 'execute_exe' %}" method="post">
        {% csrf_token %}
        <button type="submit">Start or Close Server</button>
     </form>
     {% if open %}
     <div id="open">
        <img src="C:\web-project\django_palworld_panel\panel_project\cmd_window_capture.png" alt="opien">
        <p>{{open}}</p>
     </div>      
     {% else %}
        <p>Server is closed</p>
     {% endif %}
</body>
</html>